
.nav-pills .y-nav-link.active, .nav-pills .show .y-nav-link {
    background-color: rgba(255, 144, 0, 0.6);
    border-color: rgb(255, 144, 0);
}

.y-nav-link:hover {
    color:rgb(255, 144, 0);
}

.y-nav-link{
    color:rgb(52, 73, 94 );
    font-weight: bolder;
}

h1 {
    color:rgb(52, 73, 94 );
}

h5 .btn-link {
    color: rgb(52, 73, 94 );
    font-weight: bolder;
}

h5 .btn-link:hover{
    color:rgb(255, 144, 0);
    text-decoration: none;
}