
.y-marca {
    font-family: 'Faster One', cursive;
    font-size: 2rem;
}

.y-textcolor{
   color : rgba(255,255,255,.5);
}
a:hover  {
    color: antiquewhite;
}

.y_titulo {
    text-decoration: none;
    color: black;
}

.y_titulo:hover {
    color:gray;
}

.y_comprar{
    text-decoration: none;
    color: black;
}

.y_comprar:hover {
    color:rgba(255, 255, 0, 0.767);
}

.fas:hover{
    color : gray;
}