html,body{
    background-image: url(../img/Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
.input-group-prepend span{
    background-color:rgb(255, 144, 0);
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}
