*{
 margin: 0 auto;
 box-sizing: border-box;
}
.y-marca {
    font-family: 'Faster One', cursive;
    font-size: 2rem;
}

.y-textcolor{
   color : rgba(255,255,255,.5);
}
a:hover {
    color: antiquewhite;
}
.contenedor{
  margin-bottom: 80px;
  margin-top: 40px;
  }

.formulario{
  border-style: solid;
  border-color: black;
  padding: 50px;
  border-radius: 8px;
  max-width: 550px;;
}
h1{
  margin: 15px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Lobster', cursive;
  font-size: 45px;
}
